# =========================
# CORE
# =========================
numpy
pandas
pillow
typing_extensions>=4.14.1

# =========================
# MACHINE LEARNING
# =========================
torch
torchvision
torchaudio
scikit-learn
transformers
datasets

# =========================
# BACKEND (FastAPI)
# =========================
fastapi
uvicorn[standard]
python-multipart

# =========================
# FRONTEND (Streamlit)
# =========================
streamlit
requests

# =========================
# EXPERIMENT TRACKING
# =========================
wandb

# =========================
# DEV TOOLS
# =========================
black
ruff
pytest

# =========================
# ORCHESTRATION
# =========================
apache-airflow==2.10.4


# =========================
# Storage
# =========================
dvc-gs